POSTGRES_USER=axiom
POSTGRES_PASS=changeme_local_dev

REDIS_PASS=changeme_local_dev

KAFKA_BOOTSTRAP_SERVERS=kafka.your-domain.com:9093
KAFKA_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="axiom" password="changeme_local_dev";
